@import "components/header.css";
@import "components/contact.css";
@import "components/cta.css";
@import "components/form.css";
@import "components/hero.css";
@import "components/footer.css";
@import "components/testimonials.css";
@import "components/contactForm.css";
@import "components/navbar.css";
@import "components/help.css";
@import "components/about.css";

:root {
  --Azul-Escuro: #1e3a8a; /*Cor primária (cabeçalho, títulos).*/
  --Azul-Claro: #3b82f6;
  --Cinza-Claro: #d1d5db; /*Cor secundária (fundo, textos menores).*/
  --Cinza-Escuro: #4b5563;
  --Verde: #16a34a; /*Cor de apoio (detalhes, ícones).*/
  --Laranja: #f97316; /*Cor de destaque (botões de CTA).*/
  --Branco: #ffffff; /*Base neutra.*/

  /*Paleta Alternativa*/
  --Primary: #4c1d95; /* Cabeçalho, títulos principais, fundo de seções importantes.*/
  --Secondary: #8b5cf6; /* Detalhes, subtítulos, bordas ou fundos secundários.*/
  --Highlight: #d4af37; /* Botões de CTA ("Peça Seu Orçamento"), ícones ou linhas de destaque. */
  --Neutral: #374151; /* Texto principal, linhas divisórias. */
  --Base: #f9fafb; /* Fundo principal, espaçamento. */
  --Roxo-Medio: #6d28d9; /*(entre o escuro e o claro, para mais versatilidade).*/
  --Dourado-Claro: #e5c07b; /*(menos intenso, mais sutil).*/
  --Azul-Acinzentado: #6b7280; /*como neutro alternativo, para um toque mais sóbrio).*/
 
  --Roxo-Insta: #8466b7;
  --Dourado-Insta: #c9a043;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--Base);
  color: var(--Neutral);
}

/* Estilos padrão (desktop) */
h1 {
  font-size: 2.5rem; /* 40px */
}
h2 {
  font-size: 1.5rem; /* 24px */
}
p {
  font-size: 1rem; /* 16px */
}
.cta {
  font-size: 1rem; /* 16px */
}
footer {
  font-size: 0.875rem; /* 14px */
}

/* Ajustes para mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem; /* 28px */
  }
  h2 {
    font-size: 1.25rem; /* 20px */
  }
  p {
    font-size: 1rem; /* 16px, mantido */
  }
  .cta {
    font-size: 1rem; /* 16px, mantido */
  }
  footer {
    font-size: 0.75rem; /* 12px */
  }
}
