@import "../style.css";

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  color: var(--Neutral);
}

.form-title {
  color: var(--Secondary);
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  text-align: left;
}

.form-field label {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-field textarea {
  min-height: 120px;
  resize: vertical;
}

.form-button {
  font: 20px bold;
  border-radius: 5px;
  background-color: var(--Dourado-Claro);
  height: 35px;
  width: 107%;  
}

input:focus,
textarea:focus{
  outline: none;
  border: 2px solid var(--Roxo-Insta);
}
