@import "../style.css";

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
  text-align: center;
  padding: 3rem;
  color: var(--Base);
  background-color: var(--Secondary);
}

.form-title {
  color: var(--Base);
  transition: background-color 0.3s ease;
}

.underline-target {
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.underline {
  text-decoration: underline 3px solid var(--Highlight);
}

.contact-form-itens{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lime;
  padding: 1rem;
  width: 50%;
}

.form-field {
  text-align: left;
  width: 100%;
  margin: .3rem;
}

.form-field label {
  font-size: 20px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  height: 40px;
  margin: .2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-field textarea {
  min-height: 120px;
  resize: vertical;
}

.form-button {
  font: 20px bold;
  border: 0;
  border-radius: 5px;
  background-color: var(--Highlight);
  color: var(--Base);
  height: 35px;
 
}

.form-button:hover {
  background-color: #dbbf63;
  color: var(--Base);
  font-weight: bold;
  transform: scale(1.1) translateY(-3px);
}

input:focus,
textarea:focus {
  border: 2px solid var(--Highlight);
}

.contact-socials {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid magenta;
  width: 50%;
  height: 370px;
}

.contact-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.social-icon {
  width: 50px;
  height: 50px;
}

.social-icon svg {
  transition: fill 0.3s ease;
}

.social-icon path {
  fill: var(--Base);
}

.social-icon:hover path {
  fill: var(--Highlight);
}

.social-icon:hover {
  transform: scale(1.2) translateY(-5px);
}

@media (max-width: 768px) {
  .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    min-height: 600px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: var(--Neutral);
  }

  .form-title {
    color: var(--Secondary);
    transition: background-color 0.3s ease;
  }

  .form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .form-field {
    text-align: left;
  }

  .form-field label {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }

  .form-field input,
  .form-field textarea {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
  }

  .form-field textarea {
    min-height: 120px;
    resize: vertical;
  }

  .form-button {
    font: 20px bold;
    border-radius: 5px;
    background-color: var(--Highlight);
    color: var(--Base);
    height: 35px;
    width: 100%;
  }

  .form-button:hover {
    background-color: #dbbf63;
    color: var(--Base);
    font-weight: bold;
    transform: scale(1.1) translateY(-3px);
  }

  input:focus,
  textarea:focus {
    outline: none;
    border: 5px solid var(--Highlight);
    background-color: var(--Secondary);
    color: var(--Base);
  }
}
