@import "../style.css";

/* footer.css */
.footer {
  background-color: var(--Neutral);
  color: var(--Base);
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footer-hr {
  background-color: var(--Base);
  height:1px solid;
  width: 100%;
}


.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}
