header {
  background-color: var(--Base);
  color: var(--Roxo-Medio);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: var(--Roxo-Medio);
  margin: -1rem;
  padding-top: 1rem;
}

.nav-text-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0.3rem;
}

.nav-text-container li {
  text-decoration: none;
  list-style-type: none;
}

.nav-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Roxo-Medio);
  font-weight: 400;
  font-size: large;
  height: 40px;
  text-decoration: none;
  margin: 1rem;
  padding: 0.3rem;
}

.nav-text:hover,
.nav-text:focus {
  text-decoration: underline solid 3px var(--Roxo-Medio);
}

/* Botão hamburguer */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #1a1a1a;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
}

/*RESPONSIVIDADE--------------------------------------------------------*/

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu-toggle {
    display: block;
    color: var(--Roxo-Medio);
    z-index: 2;
  }

  .nav-text-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
  }

  .nav-text-container.show {
    display: flex;
  }

  .nav-title-container img {
    display: none;
  }

  .nav-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-title {
    color: var(--Roxo-Medio);
    font-size: 16px;
  }

  .nav-title-desc {
    margin-bottom: -.8rem;
  }

  .nav-title-desc p {
    font-size: .8rem;
  }

  .nav-text {
    color: var(--Roxo-Medio);
    font-weight: bold;
    font-size: small;
    padding: 0;
    width: 90px;
  }

  .nav-text:hover,
  .nav-text:focus {
    text-decoration: underline solid 3px var(--Roxo-Medio);
  }
}
