.navbar {
  background-color: var(--Azul-Claro);
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--Laranja);
  padding: 0.3rem;
}

.nav-text-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0.3rem;
}

.nav-text {
  display: flex;
  align-items: center;
  color: var(--Branco);
  height: 40px;
  text-decoration: none;
  margin: 1rem;
  padding: 0.3rem;
  transition: transform 0.2s ease;
}

.nav-text:hover {
  transform: scale(1.05);
  border: 3px solid var(--Laranja);
  border-radius: 5px;
}

hr {
  width: 90%;
  border: thin solid var(--Laranja);
}
