header {
  background-color: var(--Base);
  color: var(--Roxo-Medio);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: var(--Roxo-Medio);
  margin: -1rem;
  padding-top: 1rem;
}

.nav-text-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0.3rem;
}

.nav-text-container li {
  text-decoration: none;
  list-style-type: none;
}

.nav-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Roxo-Medio);
  font-weight: 400;
  font-size: large;
  height: 40px;
  text-decoration: none;
  margin: 1rem;
  padding: 0.3rem;
  min-width: 110px;
}

.nav-text:hover, .nav-text:focus {
  border: 1px solid var(--Roxo-Medio);
  border-radius: 5px;
}

hr {
  border: 2px solid var(--Highlight);
  margin-top: 0;
}

/*RESPONSIVIDADE--------------------------------------------------------*/

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-title-container img {
    display: none;
  }

  .nav-title {
    color: var(--Base);
    font-size: 16px;
  }

  .nav-title-desc {
    margin-bottom: -.8rem;
  }

  .nav-title-desc p {
    font-size: .8rem;
  }

  .nav-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }

  .nav-text {
    color: var(--Base);
    font-weight: bold;
    font-size: small;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: .2rem;
    border: 1px solid var(--Dourado-Claro);
    border-radius: 15px;
  }
}
